
<div class="d-flex flex-column align-items-center">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column justify-content-around interspace">
      <label for="inputName" class="col-form-label">Nombre: </label>
      <label for="inputLastName" class="col-form-label">Apellido:</label>
      <label for="inputAge" class="col-form-label">Edad:</label>
      <label for="birthDate" class="col-form-label">Fecha de Nacimiento:</label>
    </div>
    <div class="d-flex flex-column justify-content-around interspace">
      <input type="text" class="form-control" id="inputName" name="name" [(ngModel)]="name" required>
      <input type="text" class="form-control" id="inputLastName" name="lastName" [(ngModel)]="lastName" required>
      <input type="number" class="form-control" id="inputAge" name="age" [(ngModel)]="age" required>
      <input type="date" class="form-control" id="birthDate" name="birthDate" [(ngModel)]="birthDate" required>

    </div>
  </div>

  <div class="d-flex">
    <button class="btn btn-lg btn-danger interspace" (click)="sendData()">Enviar</button>
  </div>
</div>
