<div class="container ancho">
    <div >
      <div class="form-group row">
        <div>
          <label for="inputName" class="ancho-label col-form-label">Nombre: </label>
        </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputName" name="namez" [(ngModel)]="name" required>
          </div>
        </div>

        <div class="form-group row">
            <div>
                <label for="inputLastName" class="ancho-label col-form-label">Apellido:</label>
              </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputLastName"  name="lastName" [(ngModel)]="lastName" required>
            </div>
          </div>

          <div class="form-group row">
            <div>
                <label for="inputAge" class="ancho-label col-form-label">Edad:</label>
              </div>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="inputAge" name="age" [(ngModel)]="age" required>
            </div>
          </div>

          <div class="form-group row">
            <div>
                <label for="birthDate" class="ancho-label col-form-label">Fecha de Nacimiento:</label>
              </div>
            <div class="col-sm-9">
              <input type="date" class="form-control" id="birthDate"  name="birthDate" [(ngModel)]="birthDate" required>
            </div>
          </div>
          
        <div class="d-flex justify-content-center margin-top-low">
          <button class="width  btn  btn-lg btn-danger justify-content-center" (click)="sendData()" >Enviar</button>
        </div>
      </div>
  </div>


  <span>{{name}} {{lastName}} {{birhDate}} {{age}}</span>