<section class="nav-pa int-blue d-flex flex-row justify-content-around align-items-center">
  <div class="white title">Intercorp Reto</div>
  <div class="d-flex align-items-center">
    <a class="white nav-word" name="form" routerLink="/">Formulario</a>
  </div>
  <div>
    <a class="white nav-word" name="list" routerLink="/list">Lista de Clientes</a>
  </div>
  <div>
    <a class="white nav-word" name="analytics" routerLink="/analytics">Proyección y Análisis de Clientes
    </a>
  </div>
</section>
